/* 全局变量和基础样式 */
:root {
  --primary-color: azure;
  --bg-color: black;
  --cover-size: 80px;
  --small-cover-size: 60px;
  --border-radius: 10px;
  --control-height: 80px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
  height: 100vh;
  overflow: hidden;
}

/* 播放器容器 */
.player-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

/* 标题区域 */
.top-bar {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-title {
  width: 50vw;
  padding: 5px 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  flex-shrink: 0;
}
/* 主展示区 */
.main-displayer {
  width: 100vw;
  height: 92vh;
}
